@model HouseBills.Models.UserModel
           
<h2>Bills Bills Bills</h2>
<script type="text/javascript">
    $(function () {
        $("#tabs").tabs();
    });
	</script>
<div id="tabs">
    <ul>
        <li><a href="#generalList">The General List</a></li>
        <li><a href="#breakdown">Breakdown</a></li>
    </ul>
    <div id="generalList">
        <table style="width: 900px">
            <tr >
                <th>Who</th>
                <th>How Much</th>
                <th>For What?</th>
                <th>Created On</th>
            </tr>
            <tr>
                <td colspan="4" style="text-align: center"><b>I Am Owed</b></td>
            </tr>
            @foreach(var debt in Model.DebtsOwedToMe)
            {
                using (Html.BeginForm("ReceiveDebt", "Debt", new { debtId = debt.Id}))
                {
                    <tr>
                        <td>@debt.Debtor.Name</td>
                        <td>@String.Format("{0:C}", debt.Amount)</td>
                        <td>@debt.Description</td>
                        <td>@debt.CreatedDate.ToShortDateString()</td>
                        <td><input type="submit" value="Paid" /></td>
                
                    </tr>
                }
            }
            <tr>
                <td colspan="4" style="text-align: center"><b>I Need to Pay</b></td>
            </tr>
            @foreach (var debt in Model.DebtsIOweToPeople)
            {
                <tr>
                    <td>@debt.Person.Name</td>
                    <td>@String.Format("{0:C}", debt.Amount)</td>
                    <td>@debt.Description</td>
                    <td>@debt.CreatedDate.ToShortDateString()</td>
                </tr>

            }
        </table>
        <br/>
        <br/>
    
        @Html.ActionLink("Create Debt", "CreateDebt", "Debt")
    </div>
    <div id="breakdown">
        <br/>
        <br/>
        <table>
            <tr>
                <th>Who?</th>
                <th>Balance</th>
            </tr>
            
            @foreach (var breakdown in Model.Breakdown)
            {
                using (Html.BeginForm("ConsolidateDebts", "Debt", new { debtorId = breakdown.Person.Id, personId = Model.PersonId}))
                {

                <tr>
                    <td>@breakdown.Person.Name</td>
                    <td>@String.Format("{0:C}", breakdown.Total)</td>
                    <td>@if (breakdown.Total > 0)
                        {
                            <input type="submit" value="Paid" />
                        }
                        else if(breakdown.Total == 0)
                        {
                            <span>:)</span>
                        }
                        else
                        {
                            <span>:(</span>
                        }
                    </td>
                </tr>
                }
            }
        </table>
    </div>
</div>
